
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include '/views/common/css.html' ?>
</head>
<body>
    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <div class="avatar">
                <img src="/views/public/uploads/monkey.png" class="img-circle" alt="">
            </div>
            <!--不用action，给他一个id-->
            <form id="formLogin" class="col-md-offset-1 col-md-10">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input name="tc_name"  type="text" class="form-control" placeholder="用户名" value="前端学院">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input name="tc_pass"  type="password" class="form-control" placeholder="密码" value="123456">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">登 录</button>
            </form>
        </div>
    </div>
    
    <?php include '/views/common/script.html' ?>
    <script>
    // 可以用这种，但现在不用
    // $('#formLogin').on('click',function(){
    //     alert(123);
    //     return false;//阻止浏览器的默认行为和冒泡
    // })

    // 另一种方式
    $('#formLogin').submit(function(){
        // 获取用户名和密码，发送Ajax请求
        // dom对象转换为jq对象
        var data = $(this).serializeArray();//将表单里面的数据序列化成对象
        console.log(data);
        // 发送Ajax请求
        $.ajax({
            url: '/api/login',
            type: 'post',
            data: data,
            success:function(info){
                console.log(info);
                if(info.code == 200){
                    alert('登陆成功');

                    var infoStr = JSON.stringify(info.result);//将对象转换为字符串

                    // console.log(infoStr);
                    // 弄个属性名，然后来储存infoStr
                    $.cookie('tcInfo',infoStr);//将服务器放回来的数据（用户名和头像信息）存储在cookie中，cookie可以在同一域名下的页面之间互相传递
                    // // window可以省略
                    window.location.href = 'index';

                }
            },
            error:function(errorinfo){
                console.log('用户名或者密码不正确...');
            }
        })


        // 阻止浏览器的默认行为和冒泡
        return false;
    })


</script>
</body>
</html>
